<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Landing | Diet Tracking</title>
  @vite(['resources/css/landing.css', 'resources/js/app.js'])
</head>
<body>
  @include('component/navigation')
  <main class="content-container">
    <div class="home-title-container">
      <div class="landing-title">Diet is importance <br> for make body health</div>
      <div class="landing-sub-title">Want to diet? <br> lets write the meal and reach your target with Diet Tracking.</div>
      <a href="{{route('page.register')}}" onclick="navigateSignUp()" class="default-button">sign up</a>
    </div>
    <img class="landing-image" src="/assets/home/home-food.png"/>
  </main>
</body>

</html>