@import url('style.css');
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}
